#!/bin/sh
#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --mail-type=FAIL
#SBATCH --mail-user=cbrinkerhoff@umass.edu
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=<%= resources[["num_cores"]] %>
#SBATCH --mem=50000
#SBATCH -t 24:00:00 #45 days (in hours)
#SBATCH -p ceewater_cjgleason-cpu

module load netcdf-c/4.8.1_intel

Rscript -e 'batchtools::doJobCollection("<%= uri %>")' # Leave alone.
exit 0 # Leave alone.
